%ul.nav.nav-pills.nav-justified.menu-border{ style: 'margin-bottom: 20px' }
  %li{ class: "#{'active' if current_page?(root_path)}" }
    = link_to 'HOME', root_path
  %li{ class: "#{'active' if current_page?(demos_path)}" }
    = link_to 'DEMOS', demos_path
  %li{ class: "#{'active' if current_page?(services_path)}" }
    = link_to 'SERVICES', services_path
  - if false
    %li{ class: "#{'active' if false}" }
      = link_to 'CLIENTS', '#'
  %li{ class: "#{'active' if current_page?(contact_path)}" }
    = link_to 'CONTACT', contact_path
