.header-logo.center{ style: "margin-top:20px;margin-bottom:30px" }
  = image_tag "loud-and-lisa-logo.png", alt: "Loud and Lisa Logo"
%ul.nav.nav-pills.nav-justified.menu-border{ style: "margin-bottom: 20px" }
  %li{ class: "#{"active" if current_page?(root_path)}" }
    = link_to "DEMOS", root_path
  %li{ class: "#{"active" if current_page?(services_path)}" }
    = link_to "SERVICES", services_path
  %li{ class: "#{"active" if current_page?(clients_path)}" }
    = link_to "CLIENTS", clients_path
  %li{ class: "#{"active" if current_page?(contact_path) || current_page?(thanks_path)}" }
    = link_to "CONTACT", contact_path
